@import url("https://fonts.googleapis.com/css2?family=Annapurna+SIL:wght@400;700&family=Micro+5&display=swap");
@import "./partials/cursor";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hotpink;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  //   cursor: none;
}

div {
  // background: blue;
  h1 {
    font-family: "Micro 5", serif;
    font-size: 9.9em;
    // background: red;
    color: white;
  }
}
